<div id="<%= dom_id event %>">
  <%= image_tag(event.title_image,style: "max-width: 100%;") %>
  <h3><%= event.title %></h3>
  <p>
    <%= event.date %>
    <br>
    <%= event.location %>
  </p>
  <div>
    <%= event.body %>
  </div>
</div>
