<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>
      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date %>
  </div>
  <div>
    <%= form.label :location, style: "display: block" %>
    <%= form.text_field :location %>
  </div>
  <div>
    <br>
    <%= form.rich_text_area :body %>
  </div>
  <br>
  <div>
    <%= image_tag(event.title_image, style: "max-width: 100%;") if event.title_image.attached? %><br>
    <%= form.label :title_image, style: "display: block" %>
    <%= form.file_field :title_image %>
  </div>
  <br>
  <div>
    <%= form.submit %>
  </div>
<% end %>
