<div>
  <% if @subscriptions.any? %>
    <h3>Members:</h3>
    <% @subscriptions.each do |subscription| %>
      <div style= "display: flex; align-items: center; margin-bottom: 10px">
        <%= image_tag(subscription.user.avatar_thubnail, style: "margin-right: 5px;") %>
        <%= subscription.user.name %>
      </div>
    <% end %>
  <% else %>
    <h3>No Members</h3>
  <% end %>
  <% if current_user && @event.author != current_user %>
    <% if @subscriptions.exists?(user_id: current_user.id) %>
      <%= form_with model: @subscription, method: :delete do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :event_id, value: @event.id %>
        <%= f.submit "X | I won't come" %>
      <% end %>
    <% else %>
      <%= form_with model: @subscription do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :event_id, value: @event.id %>
        <%= f.submit "Y | I will go to event" %>
      <% end %>
    <% end %>
  <% end %>
</div>
